* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg: #fbfbfa;
  --foreground: #0b1220;
  --primary: #0b76ff;
  --primary-bg: #ffffff;
  --accent: #ffb84d;
  --accent-foreground: #703800;
  --border: #00000014;
  --text: #8A918F;
}

body {
  background: var(--bg);
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.featured-product {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 64px;
  max-width: 1200px;
  margin: 64px auto 0;
  padding: 16px;
}

.featured-product__imgs {
  max-width: 500px;
}

.featured-product__selected-img {
  border-radius: 8px;
}

.featured-product__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 18px;
  margin-block-start: 8px
}

.featured-product__img {
  border-radius: 4px;
  cursor: pointer;
  height: auto;
}

.selected {
  border: var(--primary) 2px solid;
}

.featured-product__header {
  display: grid;
  justify-items: start;
  gap: 12px;
}

.featured-product__badge {
  background: var(--accent);
  color: var(--accent-foreground);
  font-size: clamp(0.5rem, 0.75rem + 1vw, 1.125rem);
  border-radius: 24px;
  padding-block: 0.25em;
  padding-inline: 0.75em;
}

.featured-product__title {
  color: var(--foreground);
  font-size: clamp(2rem, 2.5rem + 1vw, 3rem);
}

.featured-product__prices {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.featured-product__discount {
  font-size: 2rem;
  font-weight: 500;
  color: var(--foreground)
}

.featured-product__real-price {
  color: var(--text);
  font-size: 1.25rem;
  font-weight: 400;
  position: relative;
}

.featured-product__real-price::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background: var(--text);
  transform: translateY(-50%);
  top: 50%
}

.featured-product__description {
  font-size: clamp(0.75rem, 1rem + 1vw, 1.25rem);
  color: var(--text);
  line-height: 1.5;
  margin-block-start: 1.875em;
  grid-column: 2;
}

.featured-product__label {
  color: var(--foreground);
  font-weight: 500;
  font-size: 1.25rem;
  margin-block-end: 0.75em;
}

.featured-product__color-name {
  color: var(--text);
  font-weight: 400;
}

.featured-product__options {
  grid-column: 2;
  margin-block-start: 1.875em;
}

.featured-product__colors {
  display: flex;
  gap: 12px;
}

.featured-product__color {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  margin-block-end: 1.875em;
}

.featured-product__color:not(.selected-color) {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 5px var(--border);
}

.selected-color {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 5px var(--primary);
}

.featured-product__warranty {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-block-start: 0.75em;
}

.featured-product__warranty-option {
  align-content: center;
  color: var(--foreground);
  cursor: pointer;
  font-size: 1rem;
  flex: 1;
  padding: 0.875em 1em;
  border: var(--border) 2px solid;
  border-radius: 6px;
  text-align: center;
  min-width: fit-content;
}

.selected-warranty {
  background: var(--primary);
  border-radius: 6px;
  color: #fff;
  border: transparent 2px solid;
}

.featured-product__buy-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-block-start: 1.875em;
}

.featured-product__quantity {
  align-items: center;
  align-self: start;
  border: var(--border) 2px solid;
  border-radius: 6px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.featured-product__quantity-btn {
  cursor: pointer;
  padding: 0.875em 1.125em;
  user-select: none;
}

.featured-product__quantity-value {
  font-size: 1.25rem;
  font-weight: 500;
  position: relative;
  padding-inline: 0.8em;
}

.featured-product__quantity-value::before {
  background: var(--border);
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
}

.featured-product__quantity-value::after {
  background: var(--border);
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
}

.featured-product__buy-btn {
  align-items: center;
  background: var(--primary);
  border-radius: 6px;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex: 1 1 220px;
  font-weight: 500;
  font-size: 1.25rem;
  gap: 12px;
  min-width: fit-content;
  padding: 0.875em 1.125em;
  justify-content: center;
}

.featured-product__trust-badge-list {
  border-top: var(--border) 2px solid;
  padding-block-start: 2em;
  margin-block-start: 2em;
  display: grid;
  gap: 16px;
}

.featured-product__trust-badge {
  align-items: center;
  color: var(--text);
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1100px) {
  .featured-product {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media screen and (max-width: 400px) {
  .featured-product__list {
    justify-content: space-between;
  }
}